body {
    font-family: 'UnifrakturMaguntia', serif, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background: url('fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    text-align: center;
    text-shadow: 0 0 10px #92acff, 0 0 10px #fff;
    font-size: 60px;
}